In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Dependencias

In [2]:
import sys
sys.path.append('/content/drive/MyDrive/FDL/Proyecto/notebooks')

In [3]:
import pandas as pd
from datetime import datetime 
from utils import dataframe_helpers as df_helpers

### Importando datos

In [4]:
df_master = pd.read_csv(r'/content/drive/MyDrive/FDL/Proyecto/data/01_raw/train.csv')
df_transactions = pd.read_csv(r'/content/drive/MyDrive/FDL/Proyecto/data/01_raw/transactions.csv')
df_stores = pd.read_csv(r'/content/drive/MyDrive/FDL/Proyecto/data/01_raw/stores.csv')
df_oil = pd.read_csv(r'/content/drive/MyDrive/FDL/Proyecto/data/01_raw/oil.csv')
df_holiday_events = pd.read_csv(r'/content/drive/MyDrive/FDL/Proyecto/data/01_raw/holidays_events.csv')

### Visualizando datos antes de la limpieza

In [5]:
df_master.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [6]:
df_transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [7]:
df_stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [8]:
df_oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [9]:
df_holiday_events.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

### Limpieza de datos (Se utiliza la función df_general_preprocess)

In [10]:
df_master = df_helpers.df_general_preprocess(df_master)
df_transactions = df_helpers.df_general_preprocess(df_transactions)
df_stores = df_helpers.df_general_preprocess(df_stores)
df_oil = df_helpers.df_general_preprocess(df_oil)
df_holidays_events = df_helpers.df_general_preprocess(df_holiday_events)

/content/drive/MyDrive/FDL/Proyecto/notebooks/utils/dataframe_helpers.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe[field] = pd.to_datetime(dataframe[field])

In [11]:
df_master = df_master.loc[df_master['date'] <= "2017-08-13"]

### Visualizando los datos después de la limpieza

In [12]:
df_master.head()

   id       date  store_nbr      family  sales  onpromotion
0   0 2013-01-01          1  automotive    0.0            0
1   1 2013-01-01          1   baby care    0.0            0
2   2 2013-01-01          1      beauty    0.0            0
3   3 2013-01-01          1   beverages    0.0            0
4   4 2013-01-01          1       books    0.0            0

In [13]:
df_transactions.head()

        date  store_nbr  transactions
0 2013-01-01         25           770
1 2013-01-02          1          2111
2 2013-01-02          2          2358
3 2013-01-02          3          3487
4 2013-01-02          4          1922

In [14]:
df_stores.head()

   store_nbr           city                           state type  cluster
0          1          quito                       pichincha    d       13
1          2          quito                       pichincha    d       13
2          3          quito                       pichincha    d        8
3          4          quito                       pichincha    d        9
4          5  santo domingo  santo domingo de los tsachilas    d        4

In [15]:
df_oil.head()

        date  dcoilwtico
1 2013-01-02       93.14
2 2013-01-03       92.97
3 2013-01-04       93.12
4 2013-01-07       93.20
5 2013-01-08       93.21

In [16]:
df_holidays_events.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,holiday,local,manta,fundacion de manta,False
1,2012-04-01,holiday,regional,cotopaxi,provincializacion de cotopaxi,False
2,2012-04-12,holiday,local,cuenca,fundacion de cuenca,False
3,2012-04-14,holiday,local,libertad,cantonizacion de libertad,False
4,2012-04-21,holiday,local,riobamba,cantonizacion de riobamba,False

### Guardando los datos limpos en el lago de datos

In [17]:
df_master.to_parquet(r'/content/drive/MyDrive/FDL/Proyecto/data/02_intermediate/cleaned_train.parquet.snappy', compression='snappy')  
df_transactions.to_parquet(r'/content/drive/MyDrive/FDL/Proyecto/data/02_intermediate/cleaned_transactions.parquet.snappy', compression='snappy')  
df_stores.to_parquet(r'/content/drive/MyDrive/FDL/Proyecto/data/02_intermediate/cleaned_stores.parquet.snappy', compression='snappy')  
df_oil.to_parquet(r'/content/drive/MyDrive/FDL/Proyecto/data/02_intermediate/cleaned_oil.parquet.snappy', compression='snappy')  
df_holidays_events.to_parquet(r'/content/drive/MyDrive/FDL/Proyecto/data/02_intermediate/cleaned_holidays_events.parquet.snappy', compression='snappy')